openapi: 3.1.0
info:
  title: Cyoda Cloud API
  version: 0.1.0
servers:
  - url: https://api.cyoda.cloud
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Me:
      type: object
      required: [user_id, org_id, tier, roles, scopes, is_cyoda_employee, quota, features]
      properties:
        user_id: { type: string }
        org_id: { type: string }
        tier: { type: string }
        roles:
          type: array
          items: { type: string }
        scopes:
          type: array
          items: { type: string }
        is_cyoda_employee: { type: boolean }
        quota:
          type: object
          required: [env_deploys, app_deploys]
          properties:
            env_deploys: { $ref: '#/components/schemas/QuotaCounter' }
            app_deploys: { $ref: '#/components/schemas/QuotaCounter' }
        features:
          type: object
          additionalProperties: { type: boolean }
    QuotaCounter:
      type: object
      required: [window, used, limit]
      properties:
        window: { type: string }
        used: { type: integer }
        limit: { type: integer }
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
    Build:
      type: object
      required: [build_id, state]
      properties:
        build_id: { type: string }
        action: { type: string }
        state: { type: string }
        job_status: { type: string }
        job_status_text: { type: string }
        created_at: { type: string, format: date-time }
        pipeline_name: { type: string }
        chat_id: { type: string }
        teamcity_build_id: { type: string }
paths:
  /v2/me:
    get:
      summary: Identity, tier, scopes, quota usage for the authenticated principal
      security:
        - bearer: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Me' }
        '401':
          description: unauthenticated
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /v2/env:
    post:
      summary: Provision env for caller's org
      security: [{bearer: []}]
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [backend]
              properties:
                backend: { type: string }
                chat_id: { type: string }
      responses:
        '202':
          description: queued
          content:
            application/json:
              schema:
                type: object
                required: [env_id, namespace, state]
                properties:
                  env_id: { type: string }
                  namespace: { type: string }
                  state: { type: string }
        '200':
          description: replay of prior idempotent submit
          content:
            application/json:
              schema:
                type: object
                required: [env_id, namespace, state]
                properties:
                  env_id: { type: string }
                  namespace: { type: string }
                  state: { type: string }
        '400': { description: validation, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
        '403': { description: forbidden / tier-not-entitled, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
        '409': { description: idempotency conflict, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
        '429': { description: quota exceeded or rate limited, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
    get:
      summary: Current env state for caller's org
      security: [{bearer: []}]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  env_id: { type: string }
                  namespace: { type: string }
                  state: { type: string }
                  job_status: { type: string }
                  job_status_text: { type: string }
        '404':
          description: no env found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
    delete:
      summary: Tear down provisioned env
      security: [{bearer: []}]
      responses:
        '202': { description: teardown queued }
        '404': { description: no env found, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
        '409': { description: app still deployed, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
  /v2/env:cancel:
    post:
      summary: Cancel in-flight env op
      security: [{bearer: []}]
      responses:
        '202': { description: cancellation queued }
        '404': { description: no env found, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
        '409': { description: state does not allow cancel, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
  /v2/builds:
    get:
      summary: List builds for caller's org (cursor-paginated)
      security: [{bearer: []}]
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: action
          schema: { type: string, enum: [build, deploy, env] }
        - in: query
          name: state
          schema: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Build' }
                  next_cursor: { type: string, nullable: true }
        '409':
          description: cursor expired
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
    post:
      summary: Trigger a new build/deploy (tier-blocked in v0)
      security: [{bearer: []}]
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, repository_url, branch_name]
              properties:
                action: { type: string, enum: [build, deploy] }
                repository_url: { type: string }
                branch_name: { type: string }
                chat_id: { type: string }
                installation_id: { type: string }
                is_public: { type: boolean }
      responses:
        '202':
          description: queued (future contract tier; not in v0)
          content:
            application/json:
              schema:
                type: object
                properties:
                  build_id: { type: string }
                  state: { type: string }
        '403':
          description: tier-not-entitled (the v0 outcome)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /v2/builds/{build_id}:
    get:
      summary: Single build by id
      security: [{bearer: []}]
      parameters:
        - in: path
          name: build_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Build' }
        '404':
          description: not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
    delete:
      summary: Delete a build's artifacts (tier-blocked in v0)
      security: [{bearer: []}]
      parameters:
        - in: path
          name: build_id
          required: true
          schema: { type: string }
      responses:
        '202': { description: deletion queued }
        '403':
          description: tier-not-entitled (the v0 outcome)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /v2/builds/{build_id}:cancel:
    post:
      summary: Cancel an in-flight build (tier-blocked in v0)
      security: [{bearer: []}]
      parameters:
        - in: path
          name: build_id
          required: true
          schema: { type: string }
      responses:
        '202': { description: cancellation queued }
        '403':
          description: tier-not-entitled (the v0 outcome)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /v2/.well-known/openapi.json:
    get:
      summary: Machine-readable OpenAPI spec
      responses:
        '200':
          description: ok
          content:
            application/json: {}
  /v2/.well-known/cli-min-version:
    get:
      summary: Minimum CLI version
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  min: { type: string }
