openapi: 3.1.0
info:
  title: Cyoda Cloud API
  version: 0.1.0
servers:
  - url: https://api.cyoda.cloud
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Me:
      type: object
      required: [user_id, org_id, tier, roles, scopes, is_cyoda_employee, quota, features]
      properties:
        user_id: { type: string }
        org_id: { type: string }
        tier: { type: string }
        roles:
          type: array
          items: { type: string }
        scopes:
          type: array
          items: { type: string }
        is_cyoda_employee: { type: boolean }
        quota:
          type: object
          required: [env_deploys, app_deploys]
          properties:
            env_deploys: { $ref: '#/components/schemas/QuotaCounter' }
            app_deploys: { $ref: '#/components/schemas/QuotaCounter' }
        features:
          type: object
          additionalProperties: { type: boolean }
    QuotaCounter:
      type: object
      required: [window, used, limit]
      properties:
        window: { type: string }
        used: { type: integer }
        limit: { type: integer }
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
    Build:
      type: object
      required: [build_id, state]
      properties:
        build_id: { type: string }
        action: { type: string }
        state: { type: string }
        job_status: { type: string }
        job_status_text: { type: string }
        created_at: { type: string, format: date-time }
        pipeline_name: { type: string }
        chat_id: { type: string }
        teamcity_build_id: { type: string }
    EnvName:
      type: string
      pattern: '^[a-z][a-z0-9-]{0,21}$'
      maxLength: 22
      description: |
        User-supplied env name. DNS-1123 label rules + reserved-name guards.
        See spec §3 for full validation.
      example: dev
    ProvisionRequest:
      type: object
      required: [env_name, backend]
      properties:
        env_name: { $ref: '#/components/schemas/EnvName' }
        backend: { type: string }
        chat_id: { type: string }
        m2m_with_admin_role:
          type: boolean
          description: |
            Request that the bootstrap-minted M2M client also
            receive the ADMIN role on the user's Cyoda env. Subject
            to the env's `cyoda.security.web.jwt.m2m.admin-role-enabled`
            feature flag — if disabled, the entity ends up in
            Mint_Failed.
    EnvSummary:
      type: object
      properties:
        env_id: { type: string, format: uuid }
        env_name: { $ref: '#/components/schemas/EnvName' }
        state: { type: string }
        namespace: { type: string }
        creation_date: { type: string, format: date-time }
    EnvDetail:
      allOf:
        - $ref: '#/components/schemas/EnvSummary'
        - type: object
          properties:
            app_namespace: { type: string }
            cyoda_env_url: { type: string, format: uri }
            m2m_client_id: { type: string }
            build_id: { type: string }
    EnvList:
      type: array
      items: { $ref: '#/components/schemas/EnvSummary' }
    EnvAlreadyExistsProblem:
      type: object
      description: Returned when a non-terminal env with the same env_name already exists for the org.
      properties:
        type: { type: string, example: env-already-exists }
        title: { type: string }
        status: { type: integer, example: 409 }
        detail: { type: string }
        env_id: { type: string, format: uuid }
paths:
  /v2/me:
    get:
      summary: Identity, tier, scopes, quota usage for the authenticated principal
      security:
        - bearer: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Me' }
        '401':
          description: unauthenticated
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /v2/envs:
    post:
      summary: Provision an env
      operationId: provisionEnv
      security: [{bearer: []}]
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionRequest'
      responses:
        '202':
          description: Accepted (provision dispatched)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvDetail' }
        '200':
          description: Idempotent replay
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvDetail' }
        '400': { description: validation, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
        '403': { description: forbidden / tier-not-entitled, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
        '409':
          description: Idempotency or name conflict
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/EnvAlreadyExistsProblem' }
        '429': { description: quota exceeded or rate limited, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
    get:
      summary: List envs
      operationId: listEnvs
      security: [{bearer: []}]
      parameters:
        - in: query
          name: include_terminal
          required: false
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: List of envs
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvList' }
  /v2/envs/{name}:
    parameters:
      - in: path
        name: name
        required: true
        schema: { $ref: '#/components/schemas/EnvName' }
    get:
      summary: Get one env
      operationId: getEnv
      security: [{bearer: []}]
      responses:
        '200':
          description: Env detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EnvDetail' }
        '404': { description: not found, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
    delete:
      summary: Teardown an env
      operationId: deleteEnv
      security: [{bearer: []}]
      responses:
        '202': { description: teardown accepted }
        '404': { description: not found, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
  /v2/envs/{name}:cancel:
    parameters:
      - in: path
        name: name
        required: true
        schema: { $ref: '#/components/schemas/EnvName' }
    post:
      summary: Cancel in-flight provision
      operationId: cancelEnv
      security: [{bearer: []}]
      responses:
        '202': { description: cancel accepted }
        '404': { description: not found, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
        '409': { description: env in non-cancellable state, content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }
  /v2/builds:
    get:
      summary: List builds for caller's org (cursor-paginated)
      security: [{bearer: []}]
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: action
          schema: { type: string, enum: [build, deploy, env] }
        - in: query
          name: state
          schema: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Build' }
                  next_cursor: { type: string, nullable: true }
        '409':
          description: cursor expired
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
    post:
      summary: Trigger a new build/deploy (tier-blocked in v0)
      security: [{bearer: []}]
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 16, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, repository_url, branch_name]
              properties:
                action: { type: string, enum: [build, deploy] }
                repository_url: { type: string }
                branch_name: { type: string }
                chat_id: { type: string }
                installation_id: { type: string }
                is_public: { type: boolean }
      responses:
        '202':
          description: queued (future contract tier; not in v0)
          content:
            application/json:
              schema:
                type: object
                properties:
                  build_id: { type: string }
                  state: { type: string }
        '403':
          description: tier-not-entitled (the v0 outcome)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /v2/builds/{build_id}:
    get:
      summary: Single build by id
      security: [{bearer: []}]
      parameters:
        - in: path
          name: build_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Build' }
        '404':
          description: not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
    delete:
      summary: Delete a build's artifacts (tier-blocked in v0)
      security: [{bearer: []}]
      parameters:
        - in: path
          name: build_id
          required: true
          schema: { type: string }
      responses:
        '202': { description: deletion queued }
        '403':
          description: tier-not-entitled (the v0 outcome)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /v2/builds/{build_id}:cancel:
    post:
      summary: Cancel an in-flight build (tier-blocked in v0)
      security: [{bearer: []}]
      parameters:
        - in: path
          name: build_id
          required: true
          schema: { type: string }
      responses:
        '202': { description: cancellation queued }
        '403':
          description: tier-not-entitled (the v0 outcome)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /v2/.well-known/openapi.json:
    get:
      summary: Machine-readable OpenAPI spec
      responses:
        '200':
          description: ok
          content:
            application/json: {}
  /v2/.well-known/cli-min-version:
    get:
      summary: Minimum CLI version
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  min: { type: string }
